<h1><%= @place.name %></h1>
<ul>
  <% @entries.each do |entry| %>
    <li><%= entry.title %> - <%= entry.posted_on %></li>
  <% end %>
</ul>
<%= link_to 'Add New Entry', new_place_entry_path(@place) %>
<%= link_to 'Back to Places', places_path %>
<p>
  <%= button_to 'Delete this place', place_path(@place), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
